@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
    font-family: "DM Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    /* display flex for 3x3 unresponsive */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */

    gap: 200px;
    margin-top: 100px;

    /* display flex for responsive */
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    align-content: space-evenly;

    flex-wrap: wrap;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

article.photographer-article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  gap: 2px;
  text-align: center;
  text-wrap: nowrap;
}

/* adds a cursor pointer to the photographer article */
article.photographer-article,
button {
  cursor: pointer;
}